@page "{name}"
@model ShopUI.Pages.ProductModel
@{
}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <figure class="image">
                        <img src="/images/test2.jpg" />
                    </figure>
                </div>
                <div class="column is-6">
                    <section class="content">
                        <p class="title">@Model.Product.Name</p>
                        <p class="subtitle">@Model.Product.Description</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <footer>
                            <form method="post">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Stock</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select asp-for="CartViewModel.StockId" onchange="toggleStock( event)">
                                                        @foreach (var stock in Model.Product.Stock)
                                                        {
                                                            bool disable = stock.Num <= 0;
                                                            <option value="@stock.Id" disabled="@disable">@stock.Descripion</option>

                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Quantity</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <input class="input" asp-for="CartViewModel.Num" value="1" />
                                            </div>
                                            @{ foreach (var stock in Model.Product.Stock)
                                                {
                                                    if (stock.Num <= 10)
                                                    {
                                                        //bad code solve it with vue
                                                        <div class="help is-danger is-hidden low-stock" id="low-stock-@stock.Id">
                                                            @{
                                                                if (stock.Num == 0)
                                                                {
                                                                <p>Out Stock</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@stock.Num left</p>
                                                            }

                                                            }
                                                            </div>

                                                        }

                                                    }

                                            }
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label"></label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div>
                                                <button class="button is-success" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </form>
                        </footer>
                    </section>
                </div>
            </div>
        </div> 
    </div>
</div>

<script>

   

    var toggleStock = function (e) {
        var stockToHide = document.querySelectorAll('.low-stock');

        stockToHide.forEach(function (e) {
            e.classList.add('is-hidden');
        })

        showLowStock(e.target.value);
    }

    var showLowStock = function(id){
        var stockToShow = document.getElementById('low-stock-' + id);

        if (stockToShow !== null && stockToShow !== undefined)
            stockToShow.classList.remove('is-hidden');
    }

    showLowStock(document.getElementById('CartViewModel_StockId').value);

    </script> 
       
