@page "{name}"
@model ShopUI.Pages.ProductModel
@{
}
<div>
    <p>@Model.Product.Name</p>
    <p>@Model.Product.Description</p>
    <p>@Model.Product.Price</p>
    <div>
        <label>Stock</label>
        <select>
            @foreach (var stock in Model.Product.Stock)
	        {
                <option value="@stock.Id">@stock.Descripion</option>
		 
	        }      
        </select>
    </div>
</div>